[submodule "polylib"]
	path = polylib
	url = http://github.com/opencompl/lazystack-polylib.git
[submodule "isl"]
	path = isl
	url = http://repo.or.cz/isl
[submodule "pet"]
	path = pet
	url = http://repo.or.cz/pet
