Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
compile
depcomp
install-sh
ltmain.sh
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tags
*.bak
*~
*.lo
*.o

config.h.in

.deps/
.libs/
4coins
Makefile
barvinok-uninstalled.pc
barvinok-uninstalled.sh
barvinok.pc
barvinok.pc.in
barvinok/NTL.h
barvinok/set.h
barvinok_bound
barvinok_count
barvinok_ehrhart
barvinok_enumerate
barvinok_enumerate_e
barvinok_summate
barvinok_union
cone_hilbert_basis
cone_integer_hull
config.h
config.log
config.status
doc/Makefile
interface/.deps/
interface/isl.py.top
iscc
lexmin
libbarvinok.la
libtool
omega_interface/.deps/
parker/.deps/
parker/Makefile
polyhedron_integer_hull
polytope_volume
randomtest
semigroup_holes
stamp-h1
test
test_approx
test_bound
testlib
vector_partition_chambers
version.h
zsolve/.deps/
zsolve/.libs/
zsolve/Makefile
zsolve/graver
zsolve/hilbert
zsolve/libzsolve.la
zsolve/zsolve
